:root {
    --cor-primaria: #545B3C;
    --cor-secundaria: #9EAC71;
    --cor-tercearia: #DAC7B9;
    --cor-branco: #978773;
    --cor-preto: black;
}

*{
    box-sizing: border-box;
}

body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 22px;
}

#titulo {
    font-size: 22px;
    margin-bottom: 0px;
}

#autor {
    font-size: 14px;
    margin-top: 0px;
}



.imgrande {
    width: 300px;
    height: 400px;
    margin-left: 30%;
    margin-top: 10%;
}
#myimage {
    margin-top: 15%;

    margin-left: 30%;
}

.imgsecond {
    height: 120px;
    width: 90px;
    margin: 1%;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 15px;

}

.divorg {
    display: flex;
}

.secondorg {
    margin-left: 50%;
    justify-content: center;
    display: flex;
}

#star {
    margin: 2% 0 4% 0;
}

/* CSS para as estrelas */
#star {
    display: flex;
    gap: 5px; /* Espaçamento entre as estrelas */
  }
  
  #star img {
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: 24px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
  }
  
#descricao {
    padding: 3% 30% 0 8%;
}

#p-descricao {
    padding-right: 25%;
    margin: 0;
}

.categ {
    border-radius: 19px;
    display: inline;
    padding: 0.5rem 1.5rem;
    background-color: var(--cor-secundaria);
}

#detalhes {
    font-size: 14px;
    color: var(--cor-secundaria);
}

#disponivel {
    padding: 5% 0 2% 0;
}
.secondorg div{
    margin: 5%;
}
#troca {
    border-radius: 19px;
    display: inline;
    padding: 0.6rem 4rem;
    background-color: var(--cor-secundaria);
}

#troca:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-tercearia);
    cursor: pointer;
}

#quero-trocar {
    text-decoration: none;
    color: var(--cor-preto);
}

#seg-section {
    flex-direction: column;
    display: flex;
    margin: 10% 20%;
}

.titulo-segsection {
    margin-bottom: 0;
}
.img-zoom-container {
    position: relative;
    display: inline-block;
  }
  
  /* CSS para a imagem */
  .img-zoom-container img {
    width: 350px;
    height: 450px;
  }
  
  /* CSS para a área de zoom */
  .img-zoom-result {
    position: absolute;
    border: 1px solid #000;
    top: 0;
    left: 100%;
    width: 200px; /* Tamanho do zoom */
    height: 200px; /* Tamanho do zoom */
    background-repeat: no-repeat;
    background-size: 300px 240px; /* Ajuste de acordo com o tamanho da imagem original */
  }
#descricao-sinopse {
    text-align: justify;
}

.link-livro {
    font-size: 14px;
    color: var(--cor-secundaria);
}

.link-livro:hover {
    color: var(--cor-primaria);
    cursor: pointer;
}

.detalhes-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 0.01rem;
}

.header {
    background-color: #B5C18E;
    display: flex;
    align-items: center;
}

.header a {
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}

#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 11%;
    cursor: pointer;
}

#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.imglogo {
    width: 100px;
    height: 100px;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {

    .imgrande {
        width: 200px;
        height: 300px;
    }

    .imgsecond {
        height: 90px;
        width: 60px;
    }

    #titulo {
        font-size: 10px;
    }

    #descricao {
        padding: 3% 30% 0 8%;
    }

    #p-descricao {
        padding-right: 25%;
        margin: 0;
    }

    .categ {
        border-radius: 19px;
        display: inline;
        font-size: 14px;
        padding: 0.1rem 1.5rem;
        background-color: var(--cor-secundaria);
    }

    .org p {
        margin: 10%;
    }

    #titulo {
        font-size: 18px;
        margin-bottom: 0px;
    }

    #autor {
        font-size: 12px;
        margin-top: 0px;
    }



    #star {
        margin: 2% 0 4% 0;
    }

    #descricao {
        padding: 0;
    }

    #p-descricao {
        padding-right: 25%;
        margin: 0;
    }

    .categ {
        padding: 0.5rem 1.5rem;

    }

    #detalhes {
        font-size: 7px;
        color: var(--cor-secundaria);
    }

    #disponivel {
        padding: 5% 0 2% 0;
    }

    #troca {
        border-radius: 19px;
        display: inline;
        font-size: 17px;
        padding: 0.1rem 1.5rem;
        background-color: var(--cor-secundaria);
    }

    #troca:hover {
        background-color: var(--cor-primaria);
        color: var(--cor-tercearia);
        cursor: pointer;
    }

    #quero-trocar {
        text-decoration: none;
        color: var(--cor-preto);
    }

    #seg-section {
        flex-direction: column;
        display: flex;
        margin: 5% 10%;
    }

    .titulo-segsection {
        margin-bottom: 0;
    }

    #descricao-sinopse {
        text-align: justify;
    }

    .link-livro {
        font-size: 15px;
        color: var(--cor-secundaria);
    }

    .detalhes-grid {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 0.01rem;
    }






}

@media only screen and (max-width: 600px) {

   .adequada img{
    width: 90%;
   }
    .imgrande {
        
        margin: 1rem;

    }

    .imgsecond {
        height: 150px;
        width: 100px;
        border-radius: 5px;
        margin: 1%;
        margin-left: 8%;
        margin-top: 5%;
    }

    #titulo {
        font-size: 10px;
    }

    #descricao {
        padding: 3% 30% 0 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #p-descricao {
        padding-left: 20%;
        text-align: center;
    }

    .categ {
        display: inline;
        background-color: var(--cor-secundaria);
        padding: .5rem .5rem;
    }

    .org p {
        margin: 10%;
    }

    #titulo {
        font-size: 18px;
        margin-bottom: 0px;
    }

    #autor {
        font-size: 12px;
        margin-top: 0px;
    }



    #star {
        margin: 2% 0 4% 0;
    }

    #descricao {
        padding: 0;
    }

    #p-descricao {
        padding-right: 25%;
        margin: 0;
    }

  

    #detalhes {
        font-size: 7px;
        color: var(--cor-secundaria);
    }

    #disponivel {
        padding: 5% 0 2% 0;
    }

    #troca {
        border-radius: 19px;
        display: inline;
        font-size: 17px;
        padding: 0.1rem 1.5rem;
        background-color: var(--cor-secundaria);
    }

    #troca:hover {
        background-color: var(--cor-primaria);
        color: var(--cor-tercearia);
        cursor: pointer;
    }

    #quero-trocar {
        text-decoration: none;
        color: var(--cor-preto);
    }

    #seg-section {
        flex-direction: column;
        display: flex;
        margin: 5% 10%;
    }

    .titulo-segsection {
        margin-bottom: 0;
    }

    #descricao-sinopse {
        text-align: justify;
    }

    .link-livro {
        font-size: 15px;
        color: var(--cor-secundaria);
    }

    .detalhes-grid {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 0.01rem;
    }

    .infodiv {
        display: flex;
        flex-direction: column;
    }

    .header {
        background-color: #B5C18E;
        display: flex;
        align-items: center;
    }

    #form-buscar {
        display: none;
    }

    .header a {
        color: #fff;
        font-size: 25px;
        text-decoration: none;
    }
}

@media only screen and (min-width: 901px) and  (max-width: 1200px){}